---
// Props can be defined here
//const { img, caption } = Astro.props;
---
<div id="autor" class="d-flex p-2 p-md-4 mt-5 border rounded">
  <!-- Avatar -->
  <a href="#">
    <div class="avatar avatar-xxl me-2 me-md-4">
      <img class="avatar-img rounded-circle" src="/blog/anadias-dias.jpg" alt="avatar">
    </div>
  </a>
  <!-- Info -->
  <div>
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h4 class="m-0"><a href="#">Ana Dias*</a></h4>
        <small>Jornalista</small>
      </div>
    </div>
    <p class="my-2">Jornalista especializada em educação, Ana Dias traz uma vasta experiência em coberturas e análises do sistema educacional. Com uma carreira dedicada a investigar e comunicar as mudanças e inovações na área, ela se destaca por sua habilidade em transformar temas complexos em discussões acessíveis e envolventes. Como apresentadora do podcast, Dias conduz entrevistas e debates com especialistas e convidados, sempre buscando promover reflexões e trazer informações que ajudem a compreender e melhorar a educação.</p>
    <!-- Social icons -->
			
  </div>
</div>
