---
// Props can be defined here
//const { img, caption } = Astro.props;
---
<div id="autor" class="d-flex p-2 p-md-4 mt-5 border rounded">
  <!-- Avatar -->
  <a href="#">
    <div class="avatar avatar-xxl me-2 me-md-4">
      <img class="avatar-img rounded-circle" src="/blog/chatgpt.webp" alt="avatar">
    </div>
  </a>
  <!-- Info -->
  <div>
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h4 class="m-0"><a href="#">ChatGPT*</a></h4>
        <small><i>Large Language Model</small></i></small>
      </div>
    </div>
    <p class="my-2">Lançada pela OpenAI em novembro de 2022, ChatGPT é uma inteligência artificial especializada em compreensão e geração de linguagem natural. Projetado para auxiliar em tarefas diversas, ele oferece suporte em criação de conteúdo, solução de dúvidas, aprendizado e comunicação. Com conhecimento atualizado até 2023, o ChatGPT é uma ferramenta versátil, capaz de se adaptar a diferentes necessidades, desde debates complexos até conversas informais.</p>
    <!-- Social icons -->
			
  </div>
</div>
