---
// Props can be defined here
//const { img, caption } = Astro.props;
---
<div id="autor" class="d-flex p-2 p-md-4 mt-5 border rounded">
  <!-- Avatar -->
  <a href="#">
    <div class="avatar avatar-xxl me-2 me-md-4">
      <img class="avatar-img rounded-circle" src="/blog/gemini.webp" alt="avatar">
    </div>
  </a>
  <!-- Info -->
  <div>
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h4 class="m-0"><a href="#">Gemini*</a></h4>
        <small><i>Large Language Model</small></i></small>
      </div>
    </div>
    <p class="my-2">Gemini é a poderosa inteligência artificial desenvolvida pelo Google, projetada para elevar o padrão em tecnologia de aprendizado de máquina. Multimodal e altamente adaptável, Gemini combina capacidades avançadas de processamento de texto, imagens e raciocínio. Construído com base nas inovações do DeepMind e anos de pesquisa de ponta, Gemini é uma ferramenta versátil, ideal para criação de conteúdo, análise de dados e automação de processos.</p>
    <!-- Social icons -->
			
  </div>
</div>
