---
// Props can be defined here
//const { img, caption } = Astro.props;
---
<div id="autor" class="d-flex p-2 p-md-4 mt-5 border rounded">
  <!-- Avatar -->
  <a href="https://www.linkedin.com/in/naira-passoni-6756bb101/">
    <div class="avatar avatar-xxl me-2 me-md-4">
      <img class="avatar-img rounded-circle" src="/blog/naira-passoni.jpg" alt="avatar">
    </div>
  </a>
  <!-- Info -->
  <div>
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h4 class="m-0"><a href="#">Naira Passoni</a></h4>
        <small>Jornalismo, Marketing e Comunicação Empresarial</small>
      </div>
    </div>
    <p class="my-2">Mãe, jornalista, autora, produtora de conteúdo... Em busca de respostas para as dúvidas da maternidade e da vida profissional.</p>
    <!-- Social icons -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link px-2 fs-5" href="https://www.linkedin.com/in/naira-passoni-6756bb101/"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>					
  </div>
</div>
